<nav class="navbar navbar-expand-lg navbar-light bg-dark navbar-fixed-top">
    <a class="navbar-brand" href="#" style="color:#f7f7f7"><b>SMS</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active " href="#" style="color:#f7f7f7">Home <span
                    class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#" style="color:#f7f7f7">About Us</a>
            <a class="nav-item nav-link font_color" href="#" style="color:#f7f7f7">Pricing</a>
        </div>
    </div>

    <!---<div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="user/login" style="color:#f7f7f7">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="student/Signup" style="color:#f7f7f7">Register</a>
            </li>
        </ul>
    </div>-->

</nav>

<br>


<!---EVENT DETAILS-->
<div class="container">

    <div class="row">
        <div class="col-sm-4 clrclass">

            <div class="card text-center jumbotron">



                <div class="card-body">
                    <h5 class="card-title">
                        <h3>-- Event --</h3>
                    </h5>
                    <p class="card-text">Event Date (25/5/2020)</p>
                    <p class="card-text">Event Details</p>

                </div>



            </div>
        </div>


        <div class="col-sm-8 clrclass">
            <div class="card text-center jumbotron">
                <div class="card-body">
                    <h5 class="card-title">
                        <h3>-- ANNOUNCEMENT --</h3>
                    </h5>
                    <p class="card-text">Announcement Date (25/5/2020)</p>
                    <p class="card-text">Announcement Details</p>
                </div>
            </div>
        </div>

    </div>

</div>
</div>








<div class="container">

    <!--LOGIN-->
    <div class="card text-center  jumbotron">
        <div class="row">
            <div class="col-sm-6 clrclass">
                <div class="container">
                    <div class="card text-center">
                        <div class="card-body">
                            <!-- <h5 class="card-title">LOGIN</h5>-->
                            <div class="row">
                                <div class="col-sm-6 clrclass">
                                    <a href="teacher/login" class="btn btn-dark btn-lg btn-block">Teacher Login</a>
                                </div>
                                <div class="col-sm-6 clrclass">
                                    <a href="student/login" class="btn btn-dark btn-lg btn-block">Student Login
                                    </a>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-6 clrclass">
                <div class="container">
                    <div class="card text-center">
                        <div class="card-body">
                            <!--- <h5 class="card-title">SignUp</h5>-->
                            <div class="row">
                                <div class="col-sm-6 clrclass">
                                    <a href="teacher/signup" class="btn btn-dark btn-lg btn-block">Teacher SignUp
                                    </a>
                                </div>
                                <div class="col-sm-6 clrclass">
                                    <a href="student/signup" class="btn btn-dark btn-lg btn-block">Student
                                        SignUp</a>
                                </div>


                            </div>

                        </div>


                    </div>
                </div>

                <!---
        <a href="teacher/login" class="btn btn-btn-secondary btn-lg btn-block">Teacher Login </a>
        <a href="student/login" class="btn btn-btn-secondary btn-lg btn-block">Student Login </a>-->



            </div>

        </div>
    </div><br>

</div>




    <nav class="navbar navbar-dark bg-dark">
        <div class="container" style="color:#f7f7f7">
            <div class="row container">
                <div class="col-sm-5 clrclass">
                    <h4 style="font-size: medium; font-family:sans-serif;">Address : </h4>

                    <h6 style="font-size: small; font-family:monospace;">
                        RB-20 Indus Town, Indore, Madhya Pradesh(M.P)
                    </h6>
                    </div>



                <div class="col-sm-3 ">
                    <h4 style="font-size: medium; font-family:sans-serif;">Contact : </h4>
                    <ul style="font-size: small; font-family:monospace;">
                        <li>123456789</li>
                        <li>123456789</li>
                        <li>123456789</li>
                    </ul>

                </div>
                <div class="col-sm-4 clrclass">
                    <h4 style="font-size: medium; font-family:sans-serif;">Mail_id : </h4>
                    <ul style="font-size: small; font-family:monospace;">
                        <li>hemant@123gmail.com</li>
                        <li>shivam@gmail.com</li>
                        <li>Saharsh@gmail.com</li>
                    </ul>

                </div>
            </div>
        </div>
    </nav>